// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;
$link-color: #ffff;
$body-bg: #1c1c1c;
$accordion-color: #fa4516;
$accordion-button-color: #ffff;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
				"primary":    #fa4516,
				"secondary":  #1c1c1c,
				"DFCblack":   #000,
				"DFCgray":    #999EA6,
				"DFCwhite":   #ffffff,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Anton&family=Anton+SC&family=Barlow:ital,wght@0,700;0,800;0,900;1,700;1,800&family=Homemade+Apple&family=Merriweather&display=swap');

p{
	font-family: "Barlow", sans-serif;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'DFCfont';
	src: url('../font/TT-Supermolot-Neue-Trial-Extended-ExtraBold-Italic-BF65fcfb4f3737c.ttf') format('truetype');
	font-weight: auto;
	font-style: auto;
}

.custom-text {
	font-family: 'DFCfont', sans-serif;
}

p,h1,h2{
	color: #ffffff;
}

.familySmallText{
	font-size: 0.7rem;
}

.bannertext{
	font-size: 3rem;
}

.subscribeText{
	font-size: 0.5rem;
}

.videobg{
	height: 1000px;
}

.tekst1{
	padding-bottom: 200px;
}
.banner{
	height: 900px;
}

/* NAV */
.orange-line {
	height: 2px;
}

/* Remove borders from accordion items */
.accordion-item {
	border: none !important;
}

/* Remove borders and box-shadow from accordion buttons */
.accordion-button {
	border: none !important;
	box-shadow: none !important;
}

.accordion-button ::after{
	color: #fa4516;
}

/* Remove borders from accordion body */
.accordion-body {
	border: none !important;
}

.accordion-button:not(.collapsed) {
	background-color: #1c1c1c !important;
	--bs-accordion-active-color: #fa4516;
}

.accordion-button::after {
	filter: invert(34%) sepia(97%) saturate(1810%) hue-rotate(349deg) brightness(99%) contrast(102%);
}

.NB2{
	width: 80%;
}

.dropdown-item{
	color: white;
}

.nav-link {
	font-size: 1vw;
}

.nav-divider {
	font-size: 1vw;
}


.hero-section {
	background-image: url('../images/ppv.jpg');
	background-size: cover;
	background-position: center;
	height: 500px;
}

.shopbaggrund {
	background-image: url('../images/eventBG.png');
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}

.eventbaggrund {
	background-image: url('../images/eventBG.png');
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}



/* Placeholder-farve og skriftstørrelse til formular - contact & fighter signup */

.placeholder-gray::placeholder {
	color: #999EA6;
	font-size: 14px;
}

select.custom-placeholder {
	color: #999EA6 !important;
	font-size: 14px;
}

.custom-fontsize{
	font-size: 14px;
}

/* Fjerner standard styling på iOS (kalenderen */
input[type="date"].custom-placeholder::-webkit-datetime-edit {
	color: #999EA6;
	font-size: 14px;
}

/* Fjerner skyggefarve i formular på Fighter Signup og Contact */

.form-control, .form-select {
    box-shadow: none !important;
}

/* Skyggefarve til check-knap og ingen box-shadow i Fighter Signup */

.form-check-input:checked {
	background-color: #fa4516;
	border-color: #fa4516;
	box-shadow: none;
}

.underline{
	outline: none;
	border-bottom: 1px solid white;
	border-radius: 0;
}

.herotext{
	font-size: 2.6rem;
}
.policyText{
	font-size: 0.4rem;
}


@media (min-width: 768px){
	.videobg{
		height: 1440px;
	}
	.banner{
		height: 1300px;
	}
	.herotext{
		font-size: 4rem;
	}
	.bannertext{
		font-size: 6.7rem;
	}
	.tekst1{
		padding: 20px;
		padding-bottom: 60px;
	}
	.policyText{
		font-size: 0.6rem;
	}
	.eventbaggrund{
		height: 1800px;
	}

	.shopbaggrund{
		height: 2000px;
	}

	.hero-section {
		height: 800px;
	}
	.submitBtn{
		width: 110px;
		font-size: 0.6rem;
	}
	.familySmallText{
		font-size: 1.3rem;
	}
	.instagramBG i {
		font-size: 40px;
	}
}

@media (min-width: 992px) {
	.videobg {
		height: 850px;
	}

	.banner {
		height: 700px;
	}

	.eventbaggrund {
		height: 1800px;
	}

	.shopbaggrund {
		height: 2600px;
	}
}

/* Orange ring bag Instagram ikon */
.instagramBG {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
